.userDetail td {
  padding: 10px;
  text-align: left;
  min-width: 100px;
  width: 1%;
}

.checkbox,
.checkbox-disabled {
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  /* justify-content: space-between; */
}

.actions .edit,
.actions .delete {
  color: #c72525;
  cursor: pointer;
  transition: color 0.3s;
}

.actions .edit:hover,
.actions .delete:hover {
  color: #333;
}

.save-button {
  align-self: center;
  border-style: none;
  background-color: #c72525;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s;
  height: 2rem;
}

.save-button:hover {
  background-color: #333;
  color: aliceblue;
}

.text-feilds {
  border-style: none;
  border: 2px solid #c72525;
  border-radius: 5px;
  height: 0.8rem;
  background-color: #e2dddd;
  color: #c72525;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  .user-detail-email,
  .user-detail-role,
  .checkbox-disabled {
    display: none;
  }

  .text-feilds {
    width: 100px;
  }
  .userDetails-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-style: none;
  }
}
